<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>GLH.shop - Home</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="icon" href="/static/assets/favicon.png" type="image/png" />
</head>
<body>
    <header>
        <a href="/"><img src="/static/assets/logo.png" alt="Greenfield Local Hub Logo" class="header-logo" height="200" width="200" /></a>
        <div class="header-nav">
            <div class="mainbuttons">
                <button onclick="document.location='/aboutus'">About us</button>
                <button onclick="document.location='/contactus'">Contact us</button>
                <button onclick="document.location='/shophome'">Shop</button>
            </div>

            <div class="accountbuttons">
                {% block navbar %}
                {% if current_user.is_authenticated %}
                <button onclick="document.location='/logout'">Logout</button>
                <button id="shoppingcartbutton">Shopping cart</button>
                {% block navdashboard%}
                {% if current_user.accounttype == 'customer' %}
                <button onclick="document.location='/cdashboard'">Dashboard</button>
                {% else %}
                <button onclick="document.location='/pdashboard'">Dashboard</button>
                {% endif %}
                {% endblock %}
                {% else %}
                <button onclick="document.location='/register'">Sign up</button>
                <button onclick="document.location='/login'">Log in</button>
                {% endif %}
                {% endblock %}
            </div>
        </div>

    </header>

    <h1 style="font-size: 72px; text-align: center;">Your order</h1>
    <h3 style="font-size: 64px; text-align: center;">Your product: {{productname}}</h3>
    <h3 style="font-size: 64px; text-align: center;">The quantity: {{quantity}}</h3>
    <h3 style="font-size: 64px; text-align: center;">Your total price: &pound;{{total_price}}</h3>

    <form action="/checkout" method="get">
        <input type="hidden" name="productname" value="{{productname}}">
        <input type="hidden" name="quantity" value="{{quantity}}">
        <input type="hidden" name="price" value="{{total_price}}">

        <button style="display: flex; justify-content: center; align-items: center; margin: auto;" type="submit">Proceed to checkout</button>
    </form>

    <div style="display: flex; justify-content: center; align-items: center; margin: auto;">
        <button onclick="document.location='/shophome'">Cancel Order</button>
    </div>

    <footer>
        <a href="/"><img src="/static/assets/logo.png" height="400px" width="400px" /></a>

        <div class="sitemap">
            <h1>Sitemap</h1>
            <a href="/">Home</a>
            <a href="/contactus">Contact us</a>
            <a href="/aboutus">About us</a>
            <a href="/shophome">Shop</a>
        </div>

    </footer>

    <script src="/static/quantity.js"></script>
    <script src="/static/shopping-cart.js"></script>
</body>
</html>