<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GLH.shop - Dashboard</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="icon" href="/static/assets/favicon.png" type="image/png" />
    <meta name="google" content="notranslate" />
</head>
<body>
    <header>
        <a href="/"><img src="/static/assets/logo.png" alt="Greenfield Local Hub Logo" class="header-logo" height="200" width="200" /></a>
        <div class="header-nav">
            <div class="mainbuttons">
                <button onclick="document.location='/aboutus'">About us</button>
                <button onclick="document.location='/contactus'">Contact us</button>
                <button onclick="document.location='/shophome'">Shop</button>
            </div>

            <div class="accountbuttons">
                {% block navbar %}
                {% if current_user.is_authenticated %}
                <button onclick="document.location='/logout'">Logout</button>
                <button id="shoppingcartbutton">Shopping cart</button>
                {% block navdashboard%}
                {% if current_user.accounttype == 'customer' %}
                <button onclick="document.location='/cdashboard'">Dashboard</button>
                {% else %}
                <button onclick="document.location='/pdashboard'">Dashboard</button>
                {% endif %}
                {% endblock %}
                {% else %}
                <button onclick="document.location='/register'">Sign up</button>
                <button onclick="document.location='/login'">Log in</button>
                {% endif %}
                {% endblock %}
            </div>
        </div>

    </header>

    <div id="sc-modal" class="sc-modal">
        <div class="shoppingcart-content">
            <span class="close">&times;</span>
            <p>Text. Text. Text.</p>
            <p>Text. Text. Text.</p>
        </div>
    </div>

    <div class="products-table" style="margin-top: 250px; margin-bottom: 125px;">
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Product Price</th>
                    <th>Product Description</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.pname}}</td>
                    <td>{{product.ptype}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.pdesc}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button onclick="document.location='/pdashboard'" style="display: flex; justify-content: center; align-items: center; margin:auto; margin-bottom: 125px;">Go back</button>

    <footer>
        <a href="/"><img src="/static/assets/logo.png" height="400px" width="400px" /></a>

        <div class="sitemap">
            <h1>Sitemap</h1>
            <a href="/">Home</a>
            <a href="/contactus">Contact us</a>
            <a href="/aboutus">About us</a>
            <a href="/shophome">Shop</a>
        </div>

    </footer>
    <script src="/static/shopping-cart.js"></script>
</body>
</html>